
callgrind.out.*
.clang_complete
miniraygame*
win
.ycm*
Makefile
Makefile*
miniray.*
obj
miniray.*
*.workspace
.codelite
tags
*~
*.swp
*.swo
doc
00
*.bat
build
test
bin
proj
glrayfw.make
libglrayfw.a
